In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv(r"C:\Users\patha\Downloads\spaceship-titanic\train.csv")
df=df.drop(['Name'],axis=1)
df=df.drop(['PassengerId'],axis=1)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [10]:
df.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [11]:
df['HomePlanet']=df['HomePlanet'].fillna(df['HomePlanet'].mode()[0])
df['CryoSleep']=df['CryoSleep'].fillna(df['CryoSleep'].mode()[0])
df['Destination']=df['Destination'].fillna(df['Destination'].mode()[0])
df['Age']=df['Age'].fillna(df['Age'].mean())
df['VIP']=df['VIP'].fillna(df['VIP'].mode()[0])
df['RoomService']=df['RoomService'].fillna(df['RoomService'].median())
df['FoodCourt']=df['FoodCourt'].fillna(df['FoodCourt'].median())
df['ShoppingMall']=df['ShoppingMall'].fillna(df['ShoppingMall'].median())
df['Spa']=df['Spa'].fillna(df['Spa'].median())
df['VRDeck']=df['VRDeck'].fillna(df['VRDeck'].median())

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
label1=le.fit_transform(df['Transported'])
df['Transported']=label1
label2=le.fit_transform(df['HomePlanet'])
df['HomePlanet']=label2
label3=le.fit_transform(df['CryoSleep'])
df['CryoSleep']=label3
label4=le.fit_transform(df['Cabin'])
df['Cabin']=label4
label5=le.fit_transform(df['Destination'])
df['Destination']=label5
label6=le.fit_transform(df['VIP'])
df['VIP']=label6
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,149,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,2184,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,1,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,1,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,2186,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,146,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,0,1,5280,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,0,0,5285,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,1,0,2131,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,1,0,2131,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
X=df.drop(['Transported'],axis=1)
y=df['Transported']
rf=RandomForestClassifier()
rf.fit(X,y)

RandomForestClassifier()

In [14]:
df_test=pd.read_csv(r"C:\Users\patha\Downloads\spaceship-titanic\test.csv")
df_test=df_test.drop(['Name'],axis=1)
df_test=df_test.drop(['PassengerId'],axis=1)
df_test

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
4273,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
4274,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
4275,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
4276,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [15]:
df_test.isnull().sum()

HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
dtype: int64

In [16]:
df_test['HomePlanet']=df_test['HomePlanet'].fillna(df_test['HomePlanet'].mode()[0])
df_test['CryoSleep']=df_test['CryoSleep'].fillna(df_test['CryoSleep'].mode()[0])
df_test['Destination']=df_test['Destination'].fillna(df_test['Destination'].mode()[0])
df_test['Age']=df_test['Age'].fillna(df_test['Age'].mean())
df_test['VIP']=df_test['VIP'].fillna(df_test['VIP'].mode()[0])
df_test['RoomService']=df_test['RoomService'].fillna(df_test['RoomService'].median())
df_test['FoodCourt']=df_test['FoodCourt'].fillna(df_test['FoodCourt'].median())
df_test['ShoppingMall']=df_test['ShoppingMall'].fillna(df_test['ShoppingMall'].median())
df_test['Spa']=df_test['Spa'].fillna(df_test['Spa'].median())
df_test['VRDeck']=df_test['VRDeck'].fillna(df_test['VRDeck'].median())

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

label2=le.fit_transform(df_test['HomePlanet'])
df_test['HomePlanet']=label2
label3=le.fit_transform(df_test['CryoSleep'])
df_test['CryoSleep']=label3
label4=le.fit_transform(df_test['Cabin'])
df_test['Cabin']=label4
label5=le.fit_transform(df_test['Destination'])
df_test['Destination']=label5
label6=le.fit_transform(df_test['VIP'])
df_test['VIP']=label6
df_test

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0,1,2784,2,27.000000,0,0.0,0.0,0.0,0.0,0.0
1,0,0,1867,2,19.000000,0,0.0,9.0,0.0,2823.0,0.0
2,1,1,257,0,31.000000,0,0.0,0.0,0.0,0.0,0.0
3,1,0,259,2,38.000000,0,0.0,6652.0,0.0,181.0,585.0
4,0,0,1940,2,20.000000,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2679,2,34.000000,0,0.0,0.0,0.0,0.0,0.0
4273,0,0,3265,2,42.000000,0,0.0,847.0,17.0,10.0,144.0
4274,2,1,602,0,28.658146,0,0.0,0.0,0.0,0.0,0.0
4275,1,0,603,2,28.658146,0,0.0,2680.0,0.0,0.0,523.0
4276,0,1,2680,1,43.000000,0,0.0,0.0,0.0,0.0,0.0

In [18]:
import numpy as np
y_pred=rf.predict(df_test)
l=[]
y_pred=np.array(y_pred)
for i in y_pred:
    if i==1:
        l.append("FALSE")
    else:
        l.append("TRUE")
y_pred=pd.DataFrame(l)

In [19]:
df_test=df_test.drop(['HomePlanet','CryoSleep','Cabin','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'],axis=1)
df_test=pd.concat([df_test, y_pred], axis=1).reindex(df_test.index)
df_test

          0
0     FALSE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
...     ...
4272  FALSE
4273   TRUE
4274  FALSE
4275  FALSE
4276  FALSE

[4277 rows x 1 columns]

In [20]:
df_test.to_csv('submission1.csv', index=False)